body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-block-start: 0px;
}

.mxcw-banner {
    font-size: 36px;
}

.mxcw-container {
    display: flex;
}

.mxcw-leftPane {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.mxcw-map {
    height: 65%;
}

.mxcw-data {
    height: 35%

}

.mxcw-content {
    width: 35%;
    font-size: 18px;
    padding: 0 1rem 0 1rem;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.mxcw-content h2:hover {
    outline: 1px solid grey;
    cursor: pointer;
}

.mxcw-mapPane {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 400ms;
}

.mxcw-mapPane.mxcw-activeMapPane {
    opacity: 1;
}

.mxcw-mapSubPane.mxcw-mapPane {
    transition-duration: 0ms;
}

.mxcw-widgetPane {
    display: none;
    padding: 2em;
}

.mxcw-widgetPane.mxcw-activeWidgetPane {
    display: block;
}

.mxcw-content .section {
    padding: 4px;
}

.mxcw-activeSection {
    background-color: #eee;
    outline: 1px solid black;
    transition-property: background-color, outline;
    transition-duration: 400ms;
}

.mxcw-mapLabel {
    z-index: 999 !important;
}

.mxcw-fireLabel {
    font-size: 15px;
    font-weight: bold;
}

.mxcw-siteLabel {
    font-size: 10px;
    top: -19px;
    color: white;
}

.mxcw-mapLabel > div {
    transform: translateX(-50%) translateY(-50%);
}

/** Special definition just to allow the main container to scroll with very short content - remove in applications **/

.main-container {
    padding-bottom: 80em;
}